<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <%= favicon_tag 'favicon.png' %>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Xmas by Poulpe</title>
    <meta property="og:description" content="Agence de Création Digitale basée à Paris, Poulpe crée des expériences digitales innovantes et créatives."/>

    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://xmas.poulpe.co"/>
    <meta property="og:title" content="Xmas by Poulpe - Agence Digitale Agile"/>
    <meta property="og:image" content="http://xmas.poulpe.co/images/twentyfour.png"/>
    <meta property="og:description" content="Agence de Création Digitale basée à Paris, Poulpe crée des expériences digitales innovantes et créatives."/>
    <meta property="fb:app_id"/>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <%= yield %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92536479-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-92536479-2');
    </script>
  </body>
</html>
