
.modal {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  align-items: center;
  display: none;
  justify-content: center;
  position: fixed;
  z-index: 20;
}
.modal-background {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.95);
}
.modal-content {
  z-index: 40;
  margin: 0 auto;
  position: relative;
}

.box {
  background-color: white;
  border-radius: 5px;
  display: block;
  padding: 50px;
  p {
    margin-top: 20px;
    margin-bottom: 0;
  }
  a {
    color: #E83630;
    font-weight: bolder;
    text-decoration: underline;
  }
  img, p {
    max-width: 400px;
  }
  @media (max-width: $screen-xs) {
    padding: 20px;
    img, p {
      max-width: 300px;
    }
  }
  @media (max-width: $iphone4) {
    img, p {
      max-width: 260px;
    }
  }
}


.modal.active {
  display: flex;
}
